<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col mx-auto">
      <div class="col text-center mb-md-8">
        <p class="display-comming">COMMING SOON</p>
      </div>
      <div class="row align-items-center">
        <div class="col-md-7 text-center text-md-right">
          <h1 class="title">Tama Ruby Kaigi 2019</h1>
          <p class="description mb-0">
            <span>2019/07/06 (Sat) 13:00 - 18:20 </span>
          </p>
          <p class="description mb-0">
            <span class="text-nowrap">@Shibuya, Tokyo</span>
          </p>
        </div>
        <div class="col-md-5 text-center text-md-left">
          <img class="logo" src="{{ deploypath }}/assets/images/logo_512x423.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<div id="purpose" class="container h-100">
  <h1 class="title text-center under-line">開催の趣旨</h1>
  <h2 class="title text-center">テーマは、Rubyistとしての成長</h2>
  <br/>
  <p class="text-center text-md-left description">
    はじめまして、ご覧くださりありがとうございます。
  </p>
  <p class="text-center text-md-left description">
    Tama Ruby会議01は、まだ開発歴の浅い若輩Rubyistたちがもう一段ステップアップをして、中級・上級Rubyistへ成長するためのきっかけとなることを目指す地域Ruby会議です。
  </p>
  <p class="text-center text-md-left description">
    Tama.rbは、2018年2月、駆け出しRubyistたちがお互いに力をつけていくことを目標として発足しました。<br/>
    そこから徐々にメンバーも増えていき、発足以来技術書の輪読や、先輩Rubyistの皆様から頂いたアドバイスや、メンバー間での課題の共有・ディスカッションを通じて、日々の成長を目指してきました。<br/>
    そしてこの度、コミュニティから生まれた知見と参加者の皆様の知見をお互いに共有し、考え、お話しすることで技術的交流を図りたいとの思いから、地域Ruby会議の開催に至りました。<br/>
  </p>
  <p class="text-center text-md-left description">
    登壇者のうち半分はTama.rbメンバー、そしてもう半分はCFPをくぐり抜けた若手・中堅・ベテランRubystたちです。<br/>
    参加者の皆様の成長のきっかけとなるような場にできればと考えております。<br/>
    皆様のご参加、心よりお待ちしております。<br/>
  </p>
</div>
<div id="join-link" class="container h-100">
  <h1 class="title text-center under-line">ご参加方法・場所・日時</h1>
  <p class="text-center description">COMMING SOON</p>
</div>
<div id="timetable" class="container">
  <h1 class="title text-center under-line">タイムテーブル</h1>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">時間</th>
        <th scope="col">登壇者</th>
        <th scope="col">発表内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col">12:00</td>
        <td scope="col">ALL MEMBER</td>
        <td scope="col">設営開始</td>
      </tr>
      <tr>
        <td scope="col">12:30</td>
        <td scope="col">ALL MEMBER</td>
        <td scope="col">受付開始</td>
      </tr>
      <tr>
        <td scope="col">13:00 ~ 13:15</td>
        <td scope="col">Tama.rb オーガナイザー</td>
        <td scope="col">開会・協賛ご紹介</td>
      </tr>
      <tr>
        <td scope="col">13:15 ~ 14:00</td>
        <td scope="col">伊藤さん(仮)</td>
        <td scope="col">基調講演①</td>
      </tr>
      <tr>
        <td scope="col">14:00 ~ 14:15</td>
        <td scope="col"></td>
        <td scope="col">休憩</td>
      </tr>
      <tr>
        <td scope="col">14:15 ~ 14:30</td>
        <td scope="col">fuqda - STORES.JP</td>
        <td scope="col">mongoidとActiveRecordのツラミを比べてみた(仮)</td>
      </tr>
      <tr>
        <td scope="col">14:30 ~ 14:35</td>
        <td scope="col"></td>
        <td scope="col">小休憩(5min)</td>
      </tr>
      <tr>
        <td scope="col">14:35 ~ 14:50</td>
        <td scope="col">esumura - self empolyed</td>
        <td scope="col">case文はインデントするか、しないか</td>
      </tr>
      <tr>
        <td scope="col">14:50 ~ 14:55</td>
        <td scope="col"></td>
        <td scope="col">小休憩(5min)</td>
      </tr>
      <tr>
        <td scope="col">14:55 ~ 15:10</td>
        <td scope="col">coe - 株式会社キャタル</td>
        <td scope="col">OSSコードリーディングのお話</td>
      </tr>
      <tr>
        <td scope="col">15:10 ~ 15:15</td>
        <td scope="col"></td>
        <td scope="col">小休憩(5min)</td>
      </tr>
      <tr>
        <td scope="col">15:15 ~ 15:30</td>
        <td scope="col">ken - 株式会社万葉</td>
        <td scope="col">rails 2系 -> 5系にあげられるのか</td>
      </tr>
      <tr>
        <td scope="col">15:30 ~ 15:35</td>
        <td scope="col"></td>
        <td scope="col">小休憩(5min)</td>
      </tr>
      <tr>
        <td scope="col">15:35 ~ 15:50</td>
        <td scope="col">makicamel - ????</td>
        <td scope="col">????</td>
      </tr>
      <tr>
        <td scope="col">15:50 ~ 15:60</td>
        <td scope="col"></td>
        <td scope="col">休憩(10min)</td>
      </tr>
      <tr>
        <td scope="col">16:00 ~ 16:10</td>
        <td scope="col">スポンサー様1</td>
        <td scope="col">LT 1</td>
      </tr>
      <tr>
        <td scope="col">16:10 ~ 16:20</td>
        <td scope="col">スポンサー様2</td>
        <td scope="col">LT 2</td>
      </tr>
      <tr>
        <td scope="col">16:20 ~ 16:30</td>
        <td scope="col">スポンサー様3</td>
        <td scope="col">LT 3</td>
      </tr>
      <tr>
        <td scope="col">16:30 ~ 16:45</td>
        <td scope="col"></td>
        <td scope="col">休憩(15min)</td>
      </tr>
      <tr>
        <td scope="col">16:45 ~ 17:30</td>
        <td scope="col">igaさん(仮)</td>
        <td scope="col"></td>
      </tr>
      <tr>
        <td scope="col">17:30 ~ 17:35</td>
        <td scope="col"></td>
        <td scope="col">閉会</td>
      </tr>
      <tr>
        <td scope="col">17:35 ~ 18:00</td>
        <td scope="col"></td>
        <td scope="col">懇親会準備</td>
      </tr>
      <tr>
        <td scope="col">18:00 ~ 19:30</td>
        <td scope="col"></td>
        <td scope="col">懇親会</td>
      </tr>
      <tr>
        <td scope="col">19:30 ~ 20:00</td>
        <td scope="col"></td>
        <td scope="col">お片づけ</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="sponsors" class="container h-100">
  <h1 class="title text-center under-line">スポンサー</h1>
  <br />
  <div class="row">
    <div class="col-md-4">
      <img class="logo" src="{{ deploypath }}/assets/images/gmo.png" />
    </div>
    <div class="col-md-4">
      <img class="logo" src="{{ deploypath }}/assets/images/gmo.png" />
    </div>
    <div class="col-md-4">
      <img class="logo" src="{{ deploypath }}/assets/images/gmo.png" />
    </div>
  </div>
</div>

<div id="staff" class="container">
  <h1 class="title text-center under-line">スタッフ</h1>
  <br />
  <div class="row">
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/Shigeyuki-fukuda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/shigeyuki-fukuda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">fuqda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/shioimm">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/coe.png">
        </a>
        <div class="staff-info">
          <p class="text-center">coe</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/ken3ypa">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/ken.jpeg">
        </a>
        <div class="staff-info">
          <p class="text-center">ken</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/Y-KURI">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/y-kuri.png">
        </a>
        <div class="staff-info">
          <p class="text-center">y-kuri</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/okuramasafumi">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/okura-masafumi.jpeg">
        </a>
        <div class="staff-info">
          <p class="text-center">okura</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/hoqqun">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/esumura.jpeg">
        </a>
        <div class="staff-info">
          <p class="text-center">esumura</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
  </div>
</div>
