<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col mx-auto">
      <div class="col text-center mb-md-8">
        <p class="display-comming">COMMING SOON</p>
      </div>
      <div class="row align-items-center">
        <div class="col-md-7 text-center text-md-right">
          <h1 class="title">Tama Ruby Kaigi 2019</h1>
          <p class="description mb-0">
            <span>2019/07/06 (Sat) 13:00 - 18:20 </span>
          </p>
          <p class="description mb-0">
            <span class="text-nowrap">@Shibuya, Tokyo</span>
          </p>
        </div>
        <div class="col-md-5 text-center text-md-left">
          <img class="logo" src="{{ deploypath }}/assets/images/logo_512x423.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<div id="purpose" class="container h-100">
  <h1 class="title text-center under-line">開催の趣旨</h1>
  <h2 class="title text-center">テーマは、Rubyistとしての成長</h2>
  <br/>
  <p class="text-center text-md-left description">
    はじめまして、ご覧くださりありがとうございます。
  </p>
  <p class="text-center text-md-left description">
    Tama Ruby会議01は、まだ開発歴の浅い若輩Rubyistたちがもう一段ステップアップをして、<br/>
    中級・上級Rubyistへ<mark>成長するためのきっかけとなることを目指す地域Ruby会議</mark>です。
  </p>
  <p class="text-center text-md-left description">
    Tama.rbは、2018年2月、駆け出しRubyistたちがお互いに力をつけていくことを目標として発足しました。<br/><br/>
    そこから徐々にメンバーも増えていき、発足以来技術書の輪読や、先輩Rubyistの皆様から頂いたアドバイスや、<br/>メンバー間での課題の共有・ディスカッションを通じて、
    日々の成長を目指してきました。<br/><br/>
    そしてこの度、コミュニティから生まれた知見と参加者の皆様の知見を<br/>
    お互いに<mark>共有し、考え、お話しすることで技術的交流を図りたい</mark>との思いから、地域Ruby会議の開催に至りました。<br/>
  </p>
  <p class="text-center text-md-left description">
    登壇者のうち半分はTama.rbメンバー、そしてもう半分はCFPをくぐり抜けた若手・中堅・ベテランRubystたちです。<br/>
    参加者の皆様の成長のきっかけとなるような場にできればと考えております。<br/><br/>
    皆様のご参加、心よりお待ちしております。<br/>
  </p>
  <p class="text-right text-md-right description">
    Tama.rb メンバー
  </p>
</div>
<div id="keynote" class="container">
  <h1 class="title text-center under-line">基調講演</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="#">
          <img class="thumbnail-keynote" src="{{ deploypath }}/assets/images/keynote/keynote1.png">
        </a>
        <div class="keynote-info">
          <p class="text-center">◯◯◯◯</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="#">
          <img class="thumbnail-keynote" src="{{ deploypath }}/assets/images/keynote/keynote2.png">
        </a>
        <div class="keynote-info">
          <p class="text-center">◯◯◯◯</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="join-link" class="container">
  <h1 class="title text-center under-line">ご参加方法・場所・日時</h1>
  <p class="text-center description">COMMING SOON</p>
</div>
<div id="timetable" class="container">
  <h1 class="title text-center under-line">タイムテーブル</h1>
  <br />
  <table class="table table-striped">
    <thead>
      <th>進行時間</th>
      <th>所要時間</th>
      <th>次第</th>
      <th>内容（名前）</th>
      <th>備考（用意するもの）</th>
      <th>参照URL</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>12時30分</p>
        </td>
        <td>
          <p>30</p>
        </td>
        <td>
          <p>開場</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>13時00分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>開会・協賛紹介・注意事項の案内</p>
        </td>
        <td>
          <p>福田 / 志村</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>13時10分</p>
        </td>
        <td>
          <p>40</p>
        </td>
        <td>
          <p>基調講演①◯◯◯◯さん</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>13時50分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>休憩</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>14時00分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>CFPトーク①</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>14時10分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>Tamarb メンバートーク①</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>14時20分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>CFPトーク②</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>14時30分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>休憩</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>14時40分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>Tamarb メンバートーク②</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>14時50分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>CFPトーク③</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>15時00分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>Tamarb メンバートーク③</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>15時10分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>休憩</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>15時20分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>CFPトーク④</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>15時30分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>Tamarb メンバートーク④</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>15時40分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>CFPトーク⑤</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>15時50分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>休憩</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>16時00分</p>
        </td>
        <td>
          <p>5</p>
        </td>
        <td>
          <p>スポンサーLT①</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>16時05分</p>
        </td>
        <td>
          <p>5</p>
        </td>
        <td>
          <p>スポンサーLT②</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>16時10分</p>
        </td>
        <td>
          <p>5</p>
        </td>
        <td>
          <p>スポンサーLT③</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>16時15分</p>
        </td>
        <td>
          <p>5</p>
        </td>
        <td>
          <p>休憩</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>16時20分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>Tamarb メンバートーク⑤</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>16時30分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>CFPトーク⑥</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>16時40分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>Tamarb メンバートーク⑥</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>16時50分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>休憩</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>17時00分</p>
        </td>
        <td>
          <p>20</p>
        </td>
        <td>
          <p>特別企画</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>17時20分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>休憩</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>17時30分</p>
        </td>
        <td>
          <p>40</p>
        </td>
        <td>
          <p>基調講演②◯◯◯◯さん</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>18時10分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>閉会の挨拶・懇親会のご案内</p>
        </td>
        <td>
          <p>福田 / 志村</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>18時20分</p>
        </td>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>懇親会準備</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>18時30分</p>
        </td>
        <td>
          <p>150</p>
        </td>
        <td>
          <p>懇親会</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>21時00分</p>
        </td>
        <td>
          <p>60</p>
        </td>
        <td>
          <p>撤収予定</p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
        <td>
          <p></p>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
</div>
<div id="sns" class="container">
  <h1 class="title text-center under-line">進捗動向</h1>
  <br />
  <a class="twitter-timeline" data-height="400" href="https://twitter.com/fuqda90?ref_src=twsrc%5Etfw">Tweets by fuqda90</a>
  <br />
  <br />
</div>

<div id="sponsors" class="container">
  <h1 class="title text-center under-line">スポンサー</h1>
  <br />
  <div class="row">
    <div class="col-md-4 align-center">
      <img class="logo" src="{{ deploypath }}/assets/images/gmo.png" />
    </div>
    <div class="col-md-4">
      <p> COMMING SOON</p>
    </div>
    <div class="col-md-4">
      <p> COMMING SOON</p>
    </div>
  </div>
  <br />
  <br />
  <br />
</div>

<div id="staff" class="container">
  <h1 class="title text-center under-line">スタッフ</h1>
  <br />
  <div class="row">
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/Shigeyuki-fukuda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/shigeyuki-fukuda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">fuqda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/shioimm">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/coe.png">
        </a>
        <div class="staff-info">
          <p class="text-center">coe</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/ken3ypa">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/ken.jpeg">
        </a>
        <div class="staff-info">
          <p class="text-center">ken</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/Y-KURI">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/y-kuri.png">
        </a>
        <div class="staff-info">
          <p class="text-center">y-kuri</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/okuramasafumi">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/okura-masafumi.jpeg">
        </a>
        <div class="staff-info">
          <p class="text-center">okura</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/hoqqun">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/esumura.jpeg">
        </a>
        <div class="staff-info">
          <p class="text-center">esumura</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/hayashiyoshino">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/hayashiyoshino.jpeg">
        </a>
        <div class="staff-info">
          <p class="text-center">hayashi</p>
        </div>
      </div>
    </div>
  </div>
</div>
